body {
    margin: 0;
    font-family: sans-serif;
}

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #A78566;
    color: #fff;
}
#sidebar > #quickSettings > #sectionDivider {
    position: absolute;
    width: 300px;
    height: 25%;
    border-radius: 25px;

    top: 85%;
    background: #705944ff;
    color: #fff;
}

#sidebar > #logo {
    width: 194px;
    height: 42px;
    position: absolute;
    top: 25px;
    left: 25px;

    /* logo size is 244x92 px */
    transform: scale(194px, 1px);

    /* css for placeholder, remove when cool */
    text-align: center;
    font-size: 100px;
    color: #fbb;
}

#sidebar > #buttons {
    width: 250px;
    height: calc(100% - 150px);
    position: absolute;

    top: 125px;
    left: 25px;
}

#sidebar > #buttons > .button {
    width: 100%;
    height: 80px;
    border-radius: 25px;
    margin-top: 25px;
    background:#705944ff;
}
#sidebar > #buttons > .button > .buttonText {
    width: 150px;
    margin-left: 70px;
    text-align: left;
    font-size: 25px;

    position: absolute;
}
#sidebar > #buttons > #buttonFive > #buttonFive_Text { width: 300px; font-size: 21px;}
#sidebar > #buttons > #buttonOne > #buttonOne_Text{ top: 50px; }
#sidebar > #buttons > #buttonTwo > #buttonTwo_Text{ top: 154px; }
#sidebar > #buttons > #buttonThree> #buttonThree_Text{ top: 258px; }
#sidebar > #buttons > #buttonFour > #buttonFour_Text{ top: 365px; }
#sidebar > #buttons > #buttonFive > #buttonFive_Text{ top: 470px; }


#sidebar > #buttons > .button > .buttonIcon {
   width: 40px;
   height: 40px;
   padding-left: 15px;

   position: absolute;
}
#sidebar > #buttons > #buttonOne > #buttonOne_Icon{ top: 45px; }
#sidebar > #buttons > #buttonTwo > #buttonTwo_Icon{ top: 148px; }
#sidebar > #buttons > #buttonThree> #buttonThree_Icon{ top: 253px; }
#sidebar > #buttons > #buttonFour > #buttonFour_Icon{ top: 360px; }
#sidebar > #buttons > #buttonFive > #buttonFive_Icon{ top: 460px; }


#buttonOne {
   /* this is old: background: linear-gradient(60deg, #1f0, #0f6) !important */
   background:#705944ff;
}

#buttonTwo {
    /* background: linear-gradient(60deg, #38f, #0df) !important */
    background:#705944ff;
}

#buttonThree {
    /* background: linear-gradient(60deg, #f80, #fc0) !important */
    background:#705944ff;
}

#buttonFour {
    /* background: linear-gradient(60deg, #80f, #c0f) !important */
    background:#705944ff;
}